<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Picture Quality</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Key</key>
			<string>picture_quality</string>
			<key>MaximumValue</key>
			<integer>8</integer>
			<key>MaximumValueImage</key>
			<string></string>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MinimumValueImage</key>
			<string></string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>GPS Logging</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Latitude</string>
			<key>Key</key>
			<string>latitude</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Longitude</string>
			<key>Key</key>
			<string>longitude</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Altitude</string>
			<key>Key</key>
			<string>altitude</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Course</string>
			<key>Key</key>
			<string>course</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Speed</string>
			<key>Key</key>
			<string>speed</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Time (Geotag)</string>
			<key>Key</key>
			<string>timestamp</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
        <!--
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Date (Geotag)</string>
			<key>Key</key>
			<string>datestamp</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
         -->
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Heading</string>
			<key>Key</key>
			<string>heading</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Date and Time (EXIF)</string>
			<key>Key</key>
			<string>exifdatetime</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
